<!DOCTYPE html>
<html>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <body>
        <div ng-app="myApp" ng-controller="myCtrl" ng-init="myCol = 'lightblue'; quantity = 1; cost = 5">
            <h1 style="text-align: center;">
                My first AugularJS page
            </h1>
            First Name: <input type="text", ng-model="person.firstName" style="background-color: {{myCol}}"><br>
            Last Name: <input type="text", ng-model="person.lastName" style="background-color: {{myCol}}"><br>
            <br>
            Full Name: {{person.firstName + " " + person.lastName}}
            <p>Total in dollar: {{quantity * cost}}</p>
            <!-- <p>Total in dollar: <span ng-bind="quantity * cost"></span></p> -->
            <p>Third points is {{points[2]}}</p>
        </div>

        <script>
            var app = angular.module('myApp', []);
            app.controller('myCtrl', function($scope) {
                $scope.person = {
                    firstName: "Gerard",
                    lastName: "Sullivan"
                };
                $scope.points = [1, 15, 19, 2, 40];
            })
        </script>
    </body>
</html>